@charset "utf-8";
@import "./common.scss";
.register{
	font-size: .12rem;
	@include flexbox();
	@include flex-direction(column);
	height: 100%;
	header{
		height: .44rem;
		background:#2dac64;
		ul{
			@include flexbox();
			height:.44rem;
			font-size: .17rem;
			color:#fff;
			line-height: .44rem;
			font-weight: bold;
			li{
				@include flex();
				// text-align: right;
				text-align: center;
				img{
					width:.3rem;
				}
			}
			li:nth-child(2){
				font-size: .21rem;
				@include flex(2);
			}
		}
	}
	section{
		@include flex(.7);
		width:100%;
		ul{
			height:100%;
			width:100%;
			@include flexbox();
			@include flex-direction(column);
			background: #fff;
			li{
				@include flex();
				width:100%;
				@include flexbox();
				@include justify-content();
        		@include align-items();
        		div{
	        		width:75%;
	        		height:40%;
	        		position: relative;
	        		span{
						position: absolute;
						font-size: .25rem;
						left:0;
	        		}
	        		input{
	        			margin-left:.35rem;
	        			font-size: .16rem;
	        			 // @include border(0 0 1px 0, #CED6D0,solid);
	        			 border:transparent;
	        			 border-bottom: .01rem #000 solid;

	        			 width:80%;
	        			 height:100%;
	        		}
        		}
			}
		}
	}
	.foot{
		@include flex();
		width:100%;
		background: #fff;
		.reg{
			width:100%;
			text-align: center;
			margin: .3rem 0 .5rem 0;
			input{
				width:90%;
				height: .43rem;
				border-radius: 10px;
				font-size: .16rem;
				background: #17913a;
				color:#fff;
			}
		}
		.log{
			width:100%;
			text-align: center;
			@include flexbox();
			@include justify-content();
        	@include align-items();
        	position: relative;
			.hr{
				width:80%;
				height:1px;
				background:#aaa;
			}
			div{
				position: absolute;
				background:#fff;
				width:50%;
				height: .4rem;
				font-size: .18rem;
				color:#aaa;
				line-height: .4rem;
			}
		}
		.img{
			margin-top: .3rem;
			text-align: center;
			img{
				width:.43rem;
				&:nth-child(2){
					margin-left: .2rem;
				}
			}
		}
	}
}